#genesStepPanel table td {
  text-align: center;
}
#genesStepPanel .btn {
  vertical-align: initial;
}
.abcell {
  /*display: none;*/
  visibility: hidden;
}
table {
  border-bottom: 1px solid #ccc;
  margin-top: 1em;
}
table thead tr:last-child {
  background-color: #d9edf7;
}
.table > thead > tr > th {
  text-align: center;
  vertical-align: middle;
}
table thead tr th:first-child {
  text-align: left;
}
